.dHomeContainer{
    display: flex;
}
.dHomeContainer .leftPart{
    flex: 2;
}
.dHomeContainer .rightPart{
    flex: 1;
}
/* ---------------LINE 1*/
.line1 ,.line2{
    display: flex; 
    gap: 4px;
    padding: 5px 5px 10px 5px;
    flex-wrap: wrap;
}

/*===========Card*/
.cardContainer{
    flex: 1;
    border: 1px solid green;
    border-radius: 9px;
    background-color: whitesmoke;
    padding: 10px 5px 5px 15px; 
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.905);
    margin: 0 4px 0 0;
}
.cardTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
}
.cardTop span:first-child{
    font-size: 0.7em;
    background-color: #d1f909;
    padding: 3px 5px;
    border-radius: 20% 20% 30% 20%;
}
.cardTop span:nth-child(2){
    position: relative;
    top: -10px;
    font-weight: bolder;
    margin: 0 5px 0 0;
}
.cardContainer h3{
    font-size: 0.8em;
    font-weight: 400;
    margin: 8px 0 1px 0 ;
}


/* ---------------LINE 2*/

.radial{
    flex: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 10px 5px 12px 12px;
    border-radius: 15px 15px 0 0;
    margin-right: 5px;
    box-shadow: 0.5px 1px 6px 1px whitesmoke;
}
.radial .cardTop{
    color: whitesmoke;
    outline: none;
}
.iconWrapper{
    position: absolute;
    top: 50%;
    left: 40%;  
    display: "flex"; 
    border: none;
    outline: none;
}
.girlIcon{
    color: #eefb02; 
    font-size: 90px;
}
.boyIcon{
    color: green;  
    font-size: 90px;
    
}
.chart2{ 
    flex: 2;
}
/* ---------------LINE 3*/