.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58, 0.7), rgba(8,0,58, 0.7)), url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 0;
}
.hero-text{
    text-align: center;
    max-width: 800px;
} 
.hero-text h1{
    font-size: 55px;
    font-weight: 600; 
    margin-top: 00px;
    overflow: hidden;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1,4;

}
/* ----------media queries------------- */
@media (max-width: 850px){
    .hero-text h1{
        font-size: 50px;
    }
}

@media (max-width: 650px){
    .hero-text h1{
        font-size: 37px;
        /* max-width: 400px; */
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}

@media (max-width: 370px){
    .hero-text h1{
    font-size: 28px; 

    }
    .hero-text p{
        font-size: 11px;
        margin: 10px auto 20px;
    }
    .hero-text .btn{
        font-size: 13px;
    }

}