.viewReleve{
    width: 99%;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.889);
    z-index: 10000;
    padding-top: 40px;
    top: 0;
    left: 0; 
    padding-bottom: 20px;
}
.hideReleve{
    display: none;
    
}
.backBtn{
    top: 3%;
    position: absolute;
    left: 2%;
}
.downloadBtn{
    top: 3%;
    position: absolute;
    right: 2%;
    
}
/* .releveWrapper{
    background-color: white;
    padding: 10px;
    width: 70%; 
} 
*/