.disappeared{
    display: none;
}
.dForm{ 
    max-width: 100%;  
    margin: auto;
    Padding: 20px; 
    background: white;  
    box-Shadow: 0 0 10px rgba(0,0,0,0.1); 
}
form{
    /* position: relative; */
}
.btValider{
    /* position: absolute; */
    /* right: 1%; */
    margin-left: 94%;
    align-items: end;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #007bff;
    color:#007bff;
    border-radius: 5px;
    background-color: white;
    box-Shadow: 0px 2px 0px 1px  rgba(0,0,0,0.1); 
    cursor: pointer;
}
h1
 { 
    color: #007bff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px 0;
}
.formElements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.formElements .lN_Wrapper:nth-child(1){
    flex: 3;
    margin-right: 10px;
}
.formElements .lN_Wrapper:nth-child(2){
    flex: 4;
    margin-right: 6px;
}
.formElements input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #007bff;
    outline: none;
    
}
input.error{
    border-bottom: 1.5px dotted red ;
}
.error{
    height: 15px;
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
/* .formElements  input + .error {
    margin-top: 0;
} */
.fEl:nth-child(1),
.fEl:nth-child(2){
    flex: 1;
    height: 10px;
}
.fEl  .classe{
    width: 105px;

}
form .classe, form .annee{ 
    width: 125px;
    height: 25px;
    font-size: 0.7em;
    margin: 0 10px 0 10px; 
    border: none;
    border: 1px double #007bff;
    outline: 1px dotted #007bff93;
    
}
.form label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

table{ 
    width: 100%; 
    border-Collapse: collapse;
}
table th{ 
    border: 1px solid #ddd; 
    padding: 8px; 
    background: #007bff; 
    color: white 
}
table tbody td{ 
    border: 0.5px solid #0551d2; 
    padding: 0; 
   
 }
table tbody tr td:nth-child(1) input,
table tbody tr td:nth-child(2) input,
table tbody tr td:nth-child(3) input{
    border: none;
    border-bottom:  1.5px solid #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 2px 5px; 
    
}
table tbody tr td:nth-child(1) input{
    width: 400px;
 }
table tbody tr td:nth-child(2) input{
    width: 50px;
    margin:  auto; 
 }
table tbody tr td:nth-child(3) input{
    width: 50px;
    margin:  auto; 
 }
table tbody tr td:nth-child(4) button{
    padding: 2px 1px;
 }
tr .modBtn,
tr .delBtn{
    padding: 2px 3px;
    border-radius: 5px;
}
tr .modBtn{
    margin: 0 5px 0;
    color: #28a745;
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.296);

}
tr .delBtn{
    color: red;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.285);
}
.ajout{ 
    margin: 10px 0; 
    padding: 10px; 
    background: #007bff;
    color: white;
    border: none; 
    border-radius: 4px ;
}
.moyenne{
    margin: 10px 10px 10px 0;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none; 
    border-Radius: 4px ;
}
p .moyText{ 
    display: block;
    font-weight: bold;
    color: #28a745;
}
.generer{ 
    padding: 10px;
    background: #dc3545;
    color: white; 
    border: none;
    border-Radius: 4px; 
}