.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    color: #212ea0;
    font-weight: 500 ;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-col ul{
    padding: 10px;
}
.contact-col ul li{
    display: flex;
    gap: 5px;
    margin: 8px 0;
    
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    margin-bottom: 15px;
    margin-top: 5px;
    background: #ebecfe;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}

/* ----------media queries------------- */
@media (max-width: 700px){
    .contact{
        display: block;
    }
    .contact-col{
        padding: 20px;
    }
}