nav{
width: 100%;    
/* background: #333; */
color: #fff;
padding: 4px 0;
position: fixed;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 10;
}

.logo{
   width: 100px; 
   border-radius: 0px 67px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #212EA0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}
.portail{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 4px;
    display: inline;
    border-radius: 50% 50% 10% 50%;
    background-color: white;
    display: inline-block;
    align-items: center;

}
/* ----------media queries------------- */
@media (max-width: 1000px){
    .logo{
        width: 90px;
    }
    nav ul li{
        margin: 5px 10px;
    }
}

@media (max-width: 936px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul{
        display: block;
        margin: 0px 0px;

    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}