:root{
    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --color-background: #f5f5f5;
    --color-text: #333333;
    --color-danger: #e74c3c;
    --color-success: #41f1b6;
    --color-warning: #f1c40f;
    --color-white: #ffffff;
    --color-info-dark: #34495e;
    --color-info-light: #85c1e9;
    --color-dark: #2c3e50;
    --color-light: #ecf0f1;
    --color-primary-variant: #2980b9;
    --color-dark-variant: #1c2833;  
    --color-border: #dcdcdc;

    --card-border-radius: 2rem; 
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.5rem;
    --padding-1: 1.2rem;
    --section-padding: 3rem 1rem;

    --box-shadow: 0 2rem 3rem var(--color-dark-variant);

}