.listStudents { 
    /* position: relative; */
}


.bulletinModal.open{
    /* overflow-y: scroll; */
    /* width: 100%; */
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    padding: 60px 0 35px 0;
}
.bulletinModal.close{
    display: none;
}
.backIcon {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    z-index: 100000;
    cursor: pointer;
}
.downloadIcon{
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    z-index: 100000;
    cursor: pointer;
}
.bulletinContent{
    position: absolute;
    top: 150px;
    
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}
.showHeader {
    color: white;
    display: flex;
    
    
}
.showHeader h2 {
    font-family: 'arial', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 17px;
    position: absolute;
    top: 22px;
    left: 60px;
}