.listStudentsContainer { 
    margin: 10px;
    padding: 10px;
    background-color: gray;
    box-shadow: 0.5px 0.5px 4px 0.5px  white;
}
.listStudentsContainer .listHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 2px;
    box-shadow: 0px 02px 0.5px 0px  white;

}
.listStudentsContainer
.listHeader
h2{
    color: gray;
    text-shadow: 2px 2px 3.5px  whitesmoke;
}
.listStudentsContainer button{
    margin: 6px 5px;
    padding: 3px 4px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    box-shadow: 1.5px 2px 3px whitesmoke;
    transition: background-color 1s ease, box-shadow 1s ease, padding 1s ease-in-out ;
}
.listStudentsContainer button:hover{
    background-color: rgba(128, 128, 128, 0.537);
    box-shadow: 1.5px 2px 3px  rgba(0, 0, 0, 0.537);
    padding: 3.5px 4.5px;
}
.bulletinModal.open{
    /* overflow-y: scroll; */
    /* width: 100%; */
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    padding: 60px 0 35px 0;
}
.bulletinModal.close{
    display: none;
}
.backIcon {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    z-index: 100000;
    cursor: pointer;
}
.downloadIcon{
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    z-index: 100000;
    cursor: pointer;
}
.bulletinContent{
    position: absolute;
    top: 150px;
    
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}
.showHeader {
    color: white;
    display: flex;
    
    
}
.showHeader h2 {
    font-family: 'arial', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 17px;
    position: absolute;
    top: 22px;
    left: 60px;
}
.studentsTable{
    text-align: center;
    border-top-left-radius: 10px;
}
.studentsTable  td,
.studentsTable th {
    padding: 2px;
    border: 1px solid gray; 
    background-color: rgba(240, 248, 255, 0.17);
}
.studentsTable td{
    color: aliceblue;
}
